@font-face {
    font-family : "Gentium Basic";
    font-weight : normal;
    font-style: normal;
    src : url(../fonts/GentiumBasic.otf);
}
@font-face {
    font-family : "Gentium Basic";
    font-weight : bold;
    font-style: normal;
    src : url(../fonts/GentiumBasic-Bold.otf);
}
@font-face {
    font-family : "Gentium Basic";
    font-weight : normal;
    font-style: italic;
    src : url(../fonts/GentiumBasic-Italic.otf);
}
@font-face {
    font-family : "Gentium Basic";
    font-weight : bold;
    font-style: italic;
    src : url(../fonts/GentiumBasic-BoldItalic.otf);
}
@font-face {
    font-family : "Gentium Book Basic";
    font-weight : normal;
    font-style: normal;
    src : url(../fonts/GentiumBookBasic.otf);
}
