/** Fonts **/

@font-face {
		font-family : "Gentium Basic";
		font-weight : normal;
		font-style: normal;
		src : url(../fonts/GentiumBasic.otf);
}
@font-face {
		font-family : "Gentium Basic";
		font-weight : bold;
		font-style: normal;
		src : url(../fonts/GentiumBasic-Bold.otf);
}
@font-face {
		font-family : "Gentium Basic";
		font-weight : normal;
		font-style: italic;
		src : url(../fonts/GentiumBasic-Italic.otf);
}
@font-face {
		font-family : "Gentium Basic";
		font-weight : bold;
		font-style: italic;
		src : url(../fonts/GentiumBasic-BoldItalic.otf);
}
@font-face {
		font-family : "Gentium Book Basic";
		font-weight : normal;
		font-style: normal;
		src : url(../fonts/GentiumBookBasic.otf);
}

/** Structure **/

html {
	max-width: 90ch;
	margin: auto;
	font-family: Georgia, serif;
}
body {
	margin: 0 2em;
}
@media (max-width: 400) {
	body {
		margin: 0 1em;
	}
}
@page {
	font-size: 9pt;
	font-family: Gentium Basic, Georgia, serif;
	size: 152mm 229mm;
	margin-top: 25mm;
	margin-bottom: 22mm;
	/** margin: 4rem 10%; **/
}
@page :right {
	@bottom-right { content: counter(page); }
	margin-left: 18mm;
  margin-right: 15mm;
}
@page :left {
	@bottom-left { content: counter(page); }
	margin-left: 15mm;
	margin-right: 18mm;
}
@page :first {
	@bottom-left { content: normal; }
	@bottom-right { content: normal; }
	@top-center { content: normal; }
}
@page :blank {
	@bottom-left { content: normal; }
	@bottom-right { content: normal; }
	@top-center { content: normal; }
}

/* running headers locations */

.header {
  height: 13pt;
  position: absolute;
  bottom: 16pt;
}

/* for the running headers style*/

.dup {
  -epubx-flow-into: header;
  -epubx-flow-options: exclusive static last;
  text-transform: uppercase;
  font-family: "Gentium Basic";
  /* text-align: right; */
  /* text-transform: uppercase !important; */
  font-size: 7pt;
  letter-spacing: 0.50pt;
  margin: 0;
  padding: 0;
}

.booktitle {
  -epubx-flow-into: booktitle;
  -epubx-flow-options: exclusive static last;
  text-transform: uppercase;
  font-family: "Gentium Basic";
  /* text-transform: uppercase !important; */
  font-size: 7pt;
  letter-spacing: 0.50pt;
}

@-epubx-partition class(header) {
  -epubx-flow-from: header;
  left: 10mm;  
  right: 10mm
  height: 13pt;
  position: absolute;
  top: 16pt;
}

/* titlepage */

@-epubx-page-master titlepagepage {
  @-epubx-partition body {
    -epubx-flow-from: titlepage;
    -epubx-required: true;
		left: 18mm;
	  right: 15mm;
	  top: 25mm;
	  bottom: 22mm;
  }
}

/** Toc **/

nav {
	break-before: right;
}

nav ol {
	list-style: none;
	counter-reset: chap;
	padding-left: 0em;
	line-height: 1.45;
}
nav li {
	break-inside: avoid;
}
@media (min-width: 375px) {
	nav li::before {
		counter-increment: chap;
		content: counter(chap, upper-roman) ".";
		float: left;
		width: 3em;
		margin-left: -3em;
	}
	nav ol {
		padding-left: 3em;
	}
}
nav li a {
	display: inline-flex;
	width: 100%;
	text-decoration: none;
	color: currentColor;
	break-inside: avoid;
	align-items: baseline;
}
nav li a::before {
	margin-left: 1px;
	margin-right: 1px;
	border-bottom: solid 1px lightgray;
	content: "";
	order: 1;
	flex: auto;
}
nav li a::after {
	text-align: right;
	content: target-counter(attr(href, url), page);
	align-self: flex-end;
	flex: none;
	order: 2;
}

/** Legal Sections **/

.legal {
	font-size: xx-small;
	margin: 0 -1em;
}

.copyright {
	break-before: left;
	break-after: page;
}
.copyright .legal {
	padding-top: 10rem;
}

body > footer {
	break-before: left;
}

/* toc */


@-epubx-page-master toc {
  -epubx-utilization: 0;
  @-epubx-partition toc {
    -epubx-flow-from: toc;
    -epubx-required: true;
    left: -epubx-expr( page-number % 2==1 ? 10mm: 20mm);
    right: -epubx-expr( page-number % 2==0 ? 10mm: 20mm);
		content: none
    top: 32pt;
    bottom: 4.3pc;
  }
}


/* flows */

[data-type="chapter"] {
  -epubx-flow-into: chapter;
}

[data-type="toc"] {
  -epubx-flow-into: toc;
}

[data-type="titlepage"] {
  -epubx-flow-into: titlepage;
}

/* create the layout of the body */

@-epubx-page-master chapter {
  -epubx-utilization: 0;

/*   @-epubx-partition grid {
    position: absolute;
    top: 30pt;
    right: 10mm;
    left: 10mm;
    bottom: 10mm;

    border: 1pt solid magenta;

  } */
  @-epubx-partition body {
    -epubx-flow-from: chapter;
    -epubx-required: true;
    -epubx-snap-height: 12pt;
    left: -epubx-expr( page-number % 2==1 ? 10mm: 20mm);
    right: -epubx-expr( page-number % 2==0 ? 10mm: 20mm);
    top: 35pt;
    bottom: 5.2pc;
  }

/** Titles **/

h1, h2, h3, h4 {
	margin: 2em 0;
	hyphens: none;
	break-after: avoid;
}
.author {
	hyphens: none;
}
.author-chapter {
  break-after: left;
	hyphens: none;
}
h1, h2 {
	margin: 2em 0;
}
h3, h4 {
	margin: 1em 0;
}

h2  {
	 break-before: right;
}
h3 {
	/* break-before: page; */
}
h2 + section h3 {
/*	break-before: auto; */
}

/** Body text **/

p {
	margin-top: 0em; margin-bottom: 0em;
	hyphens: auto;
	line-height: 1.45;
	orphans: 2;
	widows: 2;
}

p + p {
  text-indent: 1.5em;
  margin-top: 0 }

p:first-of-type {
	text-indent: 0;
}

p.stb { text-indent: 0; margin-top: 0.83em }
p.mtb { text-indent: 0; margin-top: 2.17em }
p.ltb { text-indent: 0; margin-top: 3.08em }

/** Body text
p:first-of-type::first-letter {
	font-weight: bold;
	font-size: 1.8em;
	line-height: 1;
	padding-right: 1px
}
 **/
.last-para {
break-after: always;
}

main > section:last-child::after {
	break-before: avoid;
	break-inside: avoid;
	margin: 2em 0;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	font-variant: small-caps;
	content: "\a\002722";
	white-space: pre;
	display: block;
}

pre {
	font-family: 'Source Code Pro', monaco, monospace;
	font-size-adjust: none;
	font-weight: 500;
	font-size: 0.75em;
	margin-left: 2em;
	white-space: pre-wrap;
	line-height: 1.45;
	hyphens: none;
}
